{{ define "main" }}

<section class="hero bg-fixed" style="background-image: url(/images/meeting-background.jpeg)">

    <!-- <img class="w-full object-cover" src="/images/meeting-background.jpeg" alt="" /> -->

    <section class="w-full">
        <header class="sm:flex">

            <img class="h-20 w-48 px-2 py-4 m-auto sm:m-0 sm:flex-grow-0"
                src="/images/guildflow-logotype-reverse-rgb.svg" alt="Guildflow Logo">

            <nav
                class="sm:flex-grow text-gray-100 text-lg font-medium flex items-center justify-center sm:justify-end sm:px-8">
                <a class="hover:underline " href="/blog">Blog</a>
                <a class="hover:underline ml-3" href="/contact">Contact</a>
                <a class="hover:underline ml-3" href="/beta">Currently in Beta</a>
            </nav>

        </header>

        <section class="lg:grid lg:col-gap-0 lg:grid-cols-2 max-w-7xl m-auto">

            <img class="px-6 py-2 lg:py-6 h-64 lg:h-auto m-auto" src="/images/devices.png"
                alt="Sample group Website in desktop browser.">

            <div class="flex flex-col items-start justify-center px-4 pb-8 lg:p-8 lg:pb-32">
                <div class="text-gray-100 text-2xl sm:text-3xl md:text-4xl font-bold leading-tight">
                    Guildflow helps people run
                    successful technical meetups.
                </div>

                <div class="mt-6 sm:flex sm:items-center sm:justify-start">
                    <span class="block rounded-md shadow-sm">
                        <a href="/book-demo"
                            class="inline-flex items-center px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-gf-orange hover:bg-orange-500 focus:outline-none focus:border-orange-500 focus:shadow-outline-indigo active:bg-orange-500 transition ease-in-out duration-150">
                            Book a Demo
                        </a>
                    </span>

                    <span class="block mt-6 sm:mt-0">
                        <a href="/newsletter"
                            class="underline sm:px-6 sm:py-3 mb-1 text-base leading-6 font-medium text-white">
                            Join the Announcement List
                        </a>
                    </span>


                </div>

            </div>

        </section>
    </section>

</section>

<section class="bg-red-100 max-w-7xl m-auto px-4">

    <div class="max-w-2xl m-auto text-xl lg:text-2xl italic leading-tight text-center my-8">
        Get noticed, make connections
        and boost your career by organizing a meetup around the technology that you love.
    </div>

    <div class="max-w-4xl m-auto my-8 ">
        <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold my-4 mt-12">Why should I start a
            technical
            meetup?</h2>

        <p class="lg:text-xl my-4">“85% of all <strong>job opportunities</strong> come through <strong>personal
                connections</strong>.”</p>

        <p class="lg:text-xl my-4">One of the best ways to meet people in your industry is to run a successful
            technical
            meetup.
            You’ll <strong>learn through teaching</strong> and <strong>generate good will</strong> amongst your
            community.
            Moreover, if you are
            passionate about your technical platform or programming language of choice, why not <strong>socialize
                out
                with like
                minded people</strong> and <strong>share that enthusiasm</strong>.</p>

        <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold my-4 mt-12">I don’t have time, I have no
            idea
            how to
            get started.</h2>

        <p class="lg:text-xl my-4">Running a meetup group does take <em>some time</em>, but lucky for you
            <strong>Guildflow is
                here to help</strong>. Lots of
            organizer tasks can be automated and simplified into basic checklist-style lists. </p>

        <p class="lg:text-xl my-4"><strong>Guildflow will teach you</strong> what you need to do and why it’s
            important
            for the heath of your
            group. </p>

        <p class="lg:text-xl my-4"><strong>Guildflow will automate</strong> what can be automated so you can spend
            more
            time with people and
            less time
            with software.</p>

        <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold my-4 mt-12">Who is going to speak at these
            events?
        </h2>
        <p class="lg:text-xl my-4"><strong>You don’t need speakers to start a meetup.</strong> While a hallmark of
            a mature group is members
            presenting to
            other members, in the early days there are lots of non-presentation, goal-oriented events you can host.
            <strong>Book clubs</strong>, <strong>code jams</strong>, <strong>architecture practice
                sessions</strong>,
            <strong>pair programming with code
                katas</strong> and <strong>open source project days</strong> are all great ways to get people to
            show up
            and
            collaborate.</p>

        <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold my-4 mt-12">Should I even bother during
            COVID?
        </h2>
        <p class="lg:text-xl my-4"><strong>If life gives you lemons, you should make lemonade.</strong> While we are
            all
            anxious to get back to
            face-to-face events, there are many advantages to starting a new technical meetup group right now.</p>

        <ul class="list-disc mx-4 lg:mx-8 lg:text-xl">
            <li> Some people have a extra time and are <strong>looking for personal growth</strong> opportunities.
            </li>
            <li>Online events are cheaper to run with <strong>no venue fees or food costs</strong> so more room for
                experimentation.
            </li>
            <li>While online events tend to draw fewer people, the social bonds of those people who show up can
                sometimes <strong>be even stronger</strong> for it.
            </li>
            <li>There is a large social need for <strong>people helping people</strong> right now, this could be a
                path
                for that;
                one
                that <strong>you are uniquely qualified</strong> to offer.
            </li>
        </ul>

        <h1 class="text-2xl md:text-4xl lg:text-5xl text-center font-bold my-4 mt-12">Using Guildflow to Launch Your
            Meetup</h1>

        <p class="lg:text-xl my-4">Guildflow is dedicated to technical meetups and provides the distinct tools new
            organizers need to help guide
            them in creating successful groups. </p>

        <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold my-4">Step 1: Build a home base: your
            group website.</h2>
        <p class="lg:text-xl my-4">Prospective members need <strong>a starting point</strong> and current members
            need
            <strong>a place to call
                home</strong>, this
            will be your Guildflow group website. </p>

        <p class="lg:text-xl my-4">With some basic background about your group, you’ll quickly have <strong>a custom
                group website with all the
                foundation tools you need.</strong></p>

        <ul class="list-disc mx-4 lg:mx-8 lg:text-xl col-span-5 px-6 py-6 md:py-0">
            <li><strong>Curate members</strong> through customizable membership applications.
            </li>
            <li><strong>Host events</strong>, collect RSVPs and archive slides to create a rich archive of group
                knowledge.
            </li>
            <li><strong>Publish custom pages</strong> with Markdown content to share group rules and
                expectations.
            </li>
            <li><strong>Communicate with your members</strong> though event-specific or broadcast-level emails.
            </li>
        </ul>

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 my-6">
            {{ range $.Page.Site.Data.screenshots }}
            <a class="" href="/images/screenshots/original-cropped/{{ .filename }}">
                <img class="border border-black hover:border-gf-orange" src="/images/screenshots/thumbs/{{ .filename }}"
                    alt="{{ .title }}" />
            </a>
            {{ end }}
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 font-bold">

            <div>
                <div class="vimeo-space" style="padding: 56.25% 0 0 0; position: relative;">
                    <iframe src="https://player.vimeo.com/video/461057012?title=0&byline=0&portrait=0"
                        style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0"
                        allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <!-- <iframe src="https://player.vimeo.com/video/461057012?title=0&byline=0&portrait=0" width="300"
                    height="169" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->

                Create a New Group in Guildflow
            </div>

            <div>
                <div class="vimeo-space" style="padding: 56.25% 0 0 0; position: relative;">
                    <iframe src="https://player.vimeo.com/video/461060940?title=0&byline=0&portrait=0"
                        style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0"
                        allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <!-- <iframe src="https://player.vimeo.com/video/?title=0&byline=0&portrait=0" width="300"
                    height="169" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->

                Add Members via Membership Applications on Guildflow
            </div>

            <div>
                <div class="vimeo-space" style="padding: 56.25% 0 0 0; position: relative;">
                    <iframe src="https://player.vimeo.com/video/464247060?title=0&byline=0&portrait=0"
                        style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0"
                        allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <!-- <iframe src="https://player.vimeo.com/video/?title=0&byline=0&portrait=0" width="300"
                    height="169" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
                Publishing Custom Page Content and Editable Website Navigation
            </div>

            <div>
                <div class="vimeo-space" style="padding: 56.25% 0 0 0; position: relative;">
                    <iframe src="https://player.vimeo.com/video/457903788?title=0&byline=0&portrait=0"
                        style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0"
                        allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <!-- <iframe src="https://player.vimeo.com/video/?title=0&byline=0&portrait=0" width="300"
                    height="169" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
                Group Export and Member Email Access
            </div>


        </div>

        <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold my-4 mt-12">Step 2: Define your flow: the
            leadership task list.
        </h2>
        <p class="lg:text-xl my-4"><strong>Everything in life is easier with a checklist.</strong> While organizing
            a
            meetup group through
            Guildflow
            you’ll have access to a dynamic lifecycle-based task list that helps you and the rest of your leadership
            team design and execute the meetup experience you want to deliver to your members.</p>

        <div class="bg-blue-300 md:grid md:gap-0 md:grid-cols-8">

            <ul class="list-disc mx-4 lg:mx-8 lg:text-xl col-span-5 px-6">
                <li><strong>Craft lifecycle tasks</strong> that need to be done for:
                    <ul class="list-disc mx-4 lg:mx-8 lg:text-xl">
                        <li> each event type
                        </li>
                        <li> new member onboarding
                        </li>
                        <li> inactive members checkins
                        </li>
                        <li> sponsorships responsibilities
                        </li>
                        <li> and custom groups.
                        </li>
                    </ul>
                </li>
                <li><strong>Share the task list and its responsibilities</strong> with your fellow leadership team.
                </li>
                <li><strong>Save time through automations</strong> like posting event announcements to Twitter or
                    new
                    members to
                    Slack.
                </li>
                <li><strong>Customize your solution</strong> through a modern GraphQL API endpoint.
                </li>
            </ul>

            <div class="bg-pink-500 col-span-3 py-6 md:py-0">

                <div class="bg-yellow-300 text-center h-14 w-28 border md:h-28 md:w-32  m-auto" style="height: 32rem;">
                    LONG</div>
            </div>
        </div>

        <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold my-4 mt-12">Step 3: Don’t wait, get
            started!
        </h2>

        <p class="lg:text-xl my-4"><strong>My only regret is, I wish I had started sooner.</strong> Technical meetup
            groups, and communities in
            general,
            are a long game. Better to start now and evolve as you learn than to do nothing. </p>

        <p class="lg:text-xl my-4"><a class="underline text-gf-orange" href="/beta">Book a Demo</a> and see how
            Guildflow
            works. If you
            like what you see
            you’ll be setup
            with beta access so you
            can experiment on your own.</p>


    </div>

    <div class="max-w-4xl m-auto my-8 ">
        <h1 class="text-2xl md:text-4xl lg:text-5xl text-center font-bold my-4 mt-12">Join the Announcement List
        </h1>
        <p class="lg:text-xl my-4">If you aren’t ready but want to hear more as Guildflow continues to evolve and
            approach a
            public release,
            join the mailing list. You’ll get an email about once a month, no spam, just us.</p>

        <p class="lg:text-xl my-4">[NEWSLETTER SIGNUP]</p>

        <p class="lg:text-xl my-4">Follow Guildflow on <a class="underline"
                href="https://twitter.com/guildflow">Twitter</a> or <a class="underline"
                href="https://micro.blog/guildflow">Micro.blog</a>.</p>

        <h1 class="text-2xl md:text-4xl lg:text-5xl text-center font-bold my-4 mt-12">Guildflow vs Meetup.com</h1>
        <p class="lg:text-xl my-4">A few things to keep in mind when considering Guildflow vs Meetup.com to host
            your group.</p>

        <p class="lg:text-xl my-4"><strong>Data Ownership.</strong> Unlike Meetup.com,
            You
            own your group with
            Guildflow.
            If you choose not to renew your subscription, we won’t sell your group to the first person who shows up
            with
            a working credit card number. In fact, Guildflow has a dedicated system to allow you to export and
            migrate
            your data off Guildflow should you find a better solution for your group as it grows and evolves. No
            hard
            feelings.</p>

        <p class="lg:text-xl my-4"><strong>Member Emails and API Access.</strong> Meetup.com
            hides access to member
            emails
            and limits their API access behind their most expensive subscription Meetup Pro, which is $35/month. The
            API
            limits are a particularly sore point for some developers who saw a community come together to help the
            company validate the early API back, built lots of integrations around it only to have the goal post
            moved
            and all those systems break when the API access was moved to be behind the tallest paywall. </p>

        <p class="lg:text-xl my-4"><strong>Better Privacy Options.</strong> Unlike Meetup.com Guildflow defaults to
            privacy for things like publishing a group’s member list, and thus the individual member details and
            social
            media info. Even within a group members have more options about sharing or not sharing their RSVP
            status. As
            the world starts to appreciate the implications and importance of privacy, Guildflow wants to be a good
            privacy citizen, with strong privacy defaults and clear member options when they want to share more.</p>

        <h1 class="text-2xl md:text-4xl lg:text-5xl text-center font-bold my-4 mt-12">Simple, honest pricing.</h1>
        <p class="lg:text-xl my-4">Each group subscription fee is <strong>$14 per month or $140 per
                year</strong>.</p>

        <ul class="list-disc mx-4 lg:mx-8 lg:text-xl">
            <li>Up to 1,000 members.</li>
            <li>Up to 10,000 system emails per month.</li>
            <li>20 GBs of media storage for presentation slides.</li>
        </ul>

        <p class="lg:text-xl my-4">If Guildflow is not saving you personal time worth the subscription cost, then
            I’ll
            eat
            my hat.</p>

        <section class="bg-yellow-50 max-w-3xl m-auto px-8 pb-2 mt-12">
            <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold my-4 pt-3">Founding Group Special</h2>
            <p class="lg:text-xl my-4">For those people excited about Guildflow and looking for guaranteed early
                access
                during
                the beta, we have a
                founding group special.</p>

            <p class="lg:text-xl my-4"><strong>If you commit you Guildflow for the year, at $140, you’ll get two
                    years
                    of
                    service for the price of
                    one.</strong></p>

            <p class="lg:text-xl my-4">This offer is only available through the end of November 2020 so if you are
                interested,
                please get in contact
                and book a demo.</p>
        </section>

        <h1 class="text-2xl md:text-4xl lg:text-5xl text-center font-bold my-4 mt-12">Early Founding Groups</h1>
        <p class="lg:text-xl my-4">A few early groups using Guildflow:</p>

        <ul>
            <li>Android Book Club
            </li>
            <li>Philly Elixir Group
            </li>
        </ul>

        <hr>
        <h1 class="text-2xl md:text-4xl lg:text-5xl text-center font-bold my-4 mt-12">Meet the Developer</h1>

        <div class="md:flex md:px-4">
            <div class="mb-4 md:flex-none flex justify-center lg:pl-6 lg:pr-2">
                <img src="/images/zorn_square.jpeg" alt="Photo of Mike Zornek."
                    class="h-28 w-28 lg:h-36 lg:w-36 rounded-full">
            </div>
            <div class="px-4 pb-8 sm:text-xl">
                <p class="lg:text-xl my-4">My name is <strong>Mike Zornek</strong> and I'm a fellow meetup organizer
                    and
                    developer
                    from Philadelphia, PA.</p>
                <p class="lg:text-xl my-4 ">I created Guildflow because I saw how stagnant and abrasive Meetup.com
                    had become over the last few years, particularly when it was part of the WeWork company. I
                    started
                    to wonder if Meetup.com would even be around in a few more years.</p>
                <p class="lg:text-xl my-4">Looking to sink my teeth into a new project I started what is now known
                    as
                    Guildflow. Guildflow’s goal is to help people run successful meetups that focus on technology
                    and
                    programming.
                </p>
                <p class="lg:text-xl my-4 "><a href="http://mikezornek.com">Personal Website</a> &bull; <a
                        href="https://micro.blog/zorn">@zorn
                        on
                        Micro.Blog</a> &bull; <a href="https://twitter.com/zorn">@zorn on
                        Twitter</a></p>
            </div>
        </div>


        <hr>
        <h1 id="Book a Demo">Book a Demo</h1>

        <p>[1]: <a
                href="https://www.linkedin.com/pulse/new-survey-reveals-85-all-jobs-filled-via-networking-lou-adler/">https://www.linkedin.com/pulse/new-survey-reveals-85-all-jobs-filled-via-networking-lou-adler/</a>
        </p>
    </div>

</section>
{{ end }}