{{ define "main" }}

<div>

    <section class="hero bg-fixed bg-black" style="background-image: url(/images/meeting-background.jpeg)">

        <section class="w-full">
            <header class="sm:flex">

                <img class="h-22 w-56 px-6 py-4 m-auto sm:m-0 sm:flex-grow-0"
                    src="/images/guildflow-logotype-reverse-rgb.svg" alt="Guildflow Logo">

            </header>

            <section class="lg:grid lg:col-gap-0 lg:grid-cols-2 max-w-7xl m-auto">


            </section>
        </section>

    </section>

    <section class="max-w-7xl m-auto px-4">

        <div class="max-w-4xl m-auto my-8 ">
            <h2 class="text-xl md:text-2xl lg:text-3xl text-center font-bold my-4 mt-24">Guildflow has been shutdown.
            </h2>

            <p class="lg:text-xl my-4">Read more about the shutdown here: <a
                    href="https://mikezornek.com/posts/2021/10/guildflow-shutdown/" class="underline">Shutting Down my
                    Side Project</a>.
            </p>

        </div>

    </section>

</div>

{{ end }}
