version: 2.1
commands:
  install_hugo:
    description: "Install the hugo binary."
    parameters:
      version:
        type: string
        default: "0.72.0"
    steps:
      - run: wget https://github.com/gohugoio/hugo/releases/download/v<< parameters.version >>/hugo_extended_<< parameters.version >>_Linux-64bit.tar.gz && tar -xzf hugo_extended_<< parameters.version >>_Linux-64bit.tar.gz && sudo mv hugo /usr/bin/hugo && rm hugo_extended_<< parameters.version >>_Linux-64bit.tar.gz LICENSE README.md
jobs:
  build:
    docker:
      - image: cimg/base:2020.05
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y rsync ruby-full
      - run: sudo gem install html-proofer --no-document
      - install_hugo:
          version: "0.72.0"
      - run: echo "hello world"
