version: 2.1
commands:
  install_hugo:
    description: "Install the hugo binary."
    parameters:
      version:
        type: string
        default: "0.72.0"
    steps:
      - run: wget https://github.com/gohugoio/hugo/releases/download/v<< parameters.version >>/hugo_extended_<< parameters.version >>_Linux-64bit.tar.gz && tar -xzf hugo_extended_<< parameters.version >>_Linux-64bit.tar.gz && sudo mv hugo /usr/bin/hugo && rm hugo_extended_<< parameters.version >>_Linux-64bit.tar.gz LICENSE README.md
jobs:
  build:
    docker:
      - image: cimg/node:14.5
    steps:
      - checkout
      - install_hugo:
          version: "0.72.0"
      - run: npm install
      - run:
          name: "Run Hugo"
          command: HUGO_ENV=production hugo --verbose
      - persist_to_workspace:
          root: ~/
          paths:
            - project/public

  test:
    docker:
      - image: cimg/base:2020.05
    steps:
      - attach_workspace:
          at: ~/
      - run: sudo apt-get update && sudo apt-get install -y ruby-full zlib1g-dev
      - run: sudo gem install html-proofer --no-document
      - run:
          name: "Test Website"
          command: htmlproofer ~/project/public --allow-hash-href --check-html=false --empty-alt-ignore --disable-external

  deploy:
    docker:
      - image: cimg/base:2020.05
    steps:
      - attach_workspace:
          at: ~/
      - run: sudo apt-get update && sudo apt-get install -y rsync
      - add_ssh_keys
      - run:
          name: "Add HostKeys"
          command: echo $HOSTKEY1 >> ~/.ssh/known_hosts && echo $HOSTKEY2 >> ~/.ssh/known_hosts && echo $HOSTKEY3 >> ~/.ssh/known_hosts
      - deploy:
          name: "Deploy"
          command: rsync -vaz --delete ~/project/public/ zorn@45.79.149.225:/var/www/html/guildflow.com/public_html/

workflows:
  build-test-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: main
