version: 2.1
jobs:
  build:
    docker:
      - image: cibuilds/hugo:0.72
    working_directory: ~/project
    steps:
      - checkout
      - run:
          name: "Install postcss-cli"
          command: npm install -g postcss-cli
      - run:
          name: "Install autoprefixer"
          command: npm install -g autoprefixer
      - run:
          name: "Run Hugo"
          command: HUGO_ENV=production hugo --verbose
      - run:
          name: "Test Website"
          command: htmlproofer public --allow-hash-href --check-html --empty-alt-ignore --disable-external
      - add_ssh_keys
      - run:
          name: "Add HostKeys"
          command: echo $HOSTKEY1 >> ~/.ssh/known_hosts && echo $HOSTKEY2 >> ~/.ssh/known_hosts && echo $HOSTKEY3 >> ~/.ssh/known_hosts
      - run:
          name: "Install rsync"
          command: apt update && apt-get --yes install rsync
      - deploy:
          name: "Deploy"
          command: rsync -vaz --delete ~/project/public/ zorn@45.79.149.225:/var/www/html/guildflow.com/public_html/
