{{ define "main" }}
<div class="mt-6 max-w-screen-md m-auto">

    <div class="prose prose-marketing">
        <h1>3 Reasons to Avoid Using Meetup.com</h1>

        <p class="italic text-gray-500">Don't let your group be held for ransom.</p>

        <h2>You will not own your group.</h2>

        <p>The group you create is not yours; you are making a group within the Meetup.com website.</p>

        <p>Should you
            <strong>fail
                to keep your payment subscription active the group will be "sold"</strong> on a first come, first serve
            basis to
            the current membership. I've even heard horror stories where a credit card expired and without even an
            email notice the "for sale" email-bast was sent out.</p>

        <h2>You will not have access to member email addresses.</h2>

        <p>Vendor lock-in is when you use a service and the service operator finds a way to make it extremely
            difficult to switch to a competitor.</p>

        <p>Meetup.com does vendor lock-in by not allowing you access to the
            email address of you groups members. By withholding this information you can not contact the membership
            outside of the website, nor can you easily migrate the group to another service.</p>

        <p><strong>Meetup.com is like
                a roach motel for groups; once you go in, you can't get out. </strong></p>

        <h2>You can not use your own domain.</h2>

        <p>When you post something on the web, it should belong to you, not a corporation. The best way to ensure
            you have control is to use a domain that you own and can point anywhere. Meetup.com does not allow this
            behavior. </p>

        <h1>Guildflow: A Sane Alternative to Meetup.com.</h1>

        <p>Hi! My name is <a href="/meet-the-developer/">Mike Zornek</a> and I'm a fellow meetup organizer from
            Philadelphia, PA. I have a long history of both participating in and helping to run meetup groups.</p>

        <p>Guildflow is my attempt to push the industry forward and directly help meetup groups be
            successful.</p>

        <p>With Guildflow you will:</p>

        <ul>
            <li>Own your meetup.</li>
            <li>Have full access to the membership data, including emails.</li>
            <li>Be able to use a domain you own.</li>
        </ul>

        <p>Guildflow is still in-development. If you'd like to hear more as it becomes
            available please sign up to the announcement mailing list:</p>

        <h2 class="mt-12 text-center">Join Announcement Mailing List</h2>

    </div>

    <form id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post"
        data-id="2BE4EF332AA2E32596E38B640E905619977C82786A703687953383B5DB3B664280FC7205BAF470983C359E59707E91C711ABCFB59662D59E6C7AF9DCA8F11EDD"
        class="mt-3 sm:flex js-cm-form max-w-screen-sm m-auto">


        <input aria-label="Email" id="fieldEmail" name="cm-shdjrk-shdjrk" required
            class="appearance-none block w-full px-3 py-3 border border-gray-300 text-base leading-6 rounded-md placeholder-gray-500 shadow-sm focus:outline-none focus:placeholder-gray-400 focus:shadow-outline focus:border-blue-300 transition duration-150 ease-in-out sm:flex-1 js-cm-email-input"
            placeholder="Enter your email" />
        <input type="hidden" id="fieldjyndtr" name="cm-f-jyndtr" value="avoid-meetup" />
        <button type="submit"
            class="mt-3 w-full px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-500 shadow-sm hover:bg-pink-600 focus:outline-none focus:shadow-outline active:bg-pink-600 transition duration-150 ease-in-out sm:mt-0 sm:ml-3 sm:flex-shrink-0 sm:inline-flex sm:items-center sm:w-auto js-cm-submit-button">
            Subscribe
        </button>
    </form>
    <script src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
    <p class="prose prose-marketing mt-3 text-sm leading-5 text-gray-500 text-center mb-8">
        We care about the protection of your data. Read our
        <a href="/privacy" class="font-medium text-gray-900 underline">Privacy Policy</a>
    </p>

    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const utm_campaign = urlParams.get('utm_campaign')
        document.getElementById("fieldjyndtr").value = utm_campaign;
    </script>

    <div class="prose prose-marketing">

        <h2>Conclusion</h2>

        <p>No matter where or how you choose to run your meetup group, the above cautionary issues should be
            considered. Best of luck with your group!</p>

        <p>I love hearing from fellow meetup group organizers. Send me an email and tell me a little bit about your
            group: <a
                href="&#109;&#97;&#105;&#108;&#x74;&#111;&#x3a;&#x7a;&#x6f;&#114;&#x6e;&#x40;&#x67;&#x75;&#105;&#108;&#100;&#102;&#108;&#111;&#119;&#46;&#x63;&#111;&#109;">&#x7a;&#x6f;&#x72;&#x6e;&#64;&#x67;&#x75;&#105;&#108;&#100;&#x66;&#108;&#x6f;&#x77;&#x2e;&#99;&#x6f;&#109;</a>.
        </p>

    </div>

</div>

{{ end }}