{{ define "main" }}
<article class="prose max-w-screen-md m-auto">
    <h1>{{ .Title }}</h1>
    <p class="italic text-gray-500">{{ .Description }}</p>
    <div class="mt-8 md:text-lg">
        {{ .Content }}
    </div>
    <p class="italic text-gray-600">Posted on <time>{{ .Date.Format "Jan 2, 2006" }}</time></p>
</article>

<div class="mt-6 max-w-screen-md m-auto">
    <h1 class="mb-1 text-xl font-bold">Like what you read? Share it!</h1>

    <a class="inline-block bg-gf-orange px-2 py-1 mb-1 text-gray-100 hover:text-white hover:underline rounded"
        id="share-link" href="#share-link" onclick="setClipboard('{{ .Permalink }}'); this.innerHTML='Copied!'"
        rel="noreferrer">Copy
        Link</a>

    <a class="inline-block bg-gf-orange px-2 py-1 mb-1 text-gray-100 hover:text-white hover:underline rounded"
        href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title | htmlEscape }}&via=guildflow"
        rel="noreferrer" target="_blank">Twitter</a>

    <a class="inline-block bg-gf-orange px-2 py-1 mb-1 text-gray-100 hover:text-white hover:underline rounded"
        href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title | htmlEscape }}" rel="noreferrer"
        target="_blank">Reddit</a>

    <a class="inline-block bg-gf-orange px-2 py-1 mb-1 text-gray-100 hover:text-white hover:underline rounded"
        href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" rel="noreferrer" target="_blank">Facebook</a>

    <a class="inline-block bg-gf-orange px-2 py-1 mb-1 text-gray-100 hover:text-white hover:underline rounded"
        href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title | htmlEscape }}" rel="noreferrer"
        target="_blank">HackerNews</a>

    <a class="inline-block bg-gf-orange px-2 py-1 mb-1 text-gray-100 hover:text-white hover:underline rounded"
        href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" rel="noreferrer"
        target="_blank">LinkedIn</a>


    <script>
        function setClipboard(value) {
            var tempInput = document.createElement("input");
            tempInput.style = "position: absolute; left: -1000px; top: -1000px";
            tempInput.value = value;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
        }
    </script>
</div>

<div class="mt-8 bg-gray-200 rounded-lg px-4 py-3 prose max-w-screen-md m-auto">

    <h3><img src="/images/zorn_square.jpeg" alt="Photo of Mike Zornek."
            class="hidden md:inline float-right h-36 w-36 rounded-full">Thanks for reading!</h3>

    <p> Hi! My name is <a href="http://mikezornek.com">Mike
            Zornek</a> and
        I'm a fellow meetup organizer from
        Philadelphia, PA. I have a long history of both participating in and helping to run meetup groups.</p>

    <p><strong>Guildflow</strong> is my attempt
        to push the industry forward and directly help meetup groups be successful. This site has a growing collection
        of articles and resources for meetup organizers.</p>

    <p>To stay up to date,
        consider <a href="/newsletter">signing up to the newsletter</a>, <a href="/blog/index.xml">subscribing
            to
            the RSS feed</a> or <a href="http://twitter.com/guildflow">follow the company Twitter account
            @guildflow.</a>.</p>

    <p>I love meeting and hearing from other meetup organizers. Don't be shy. <a href="/contact">Reach out</a> or
        following me <a href="http://twitter.com/zorn">@zorn on Twitter</a> / <a href="https://micro.blog/zorn">@zorn on
            Micro.Blog</a></p>

</div>

{{ end }}