<div class="features">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
            <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                Meetup tools that promote data ownership and privacy.
            </h3>
            <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
                Core Features
            </p>
        </div>
        <div class="mt-6 md:mt-10">
            <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
                {{ range $.Page.Site.Data.features }}
                <li class="mt-4 md:mt-0">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-pink-500">
                                <img class="h-8 w-8" src="/images/icons/{{ .icon }}" alt="{{ .title }} icon">
                            </div>
                        </div>
                        <div class="ml-4">
                            <h5 class="sm:mb-1 text-lg sm:text-2xl leading-6 font-bold text-gray-900">
                                {{ .title }}
                            </h5>
                            <p class="text-base sm:text-xl leading-6 text-gray-500">
                                {{ .description }}
                            </p>
                        </div>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>