<header class="bg-pink-500 px-2 md:px-4 py-1 text-center md:text-left md:flex md:justify-between md:items-center">
    <a href="{{ .Site.Home.Permalink }}" class="block text-gray-100 text-4xl md:text-3xl lg:text-4xl font-bold">
        {{ .Site.Title }}
    </a>
    <nav class="md:my-4 md:text-right">
        {{ range .Site.Menus.main }}<a href="{{ .URL | relURL }}"
            class="text-gray-100 hover:text-white underline text-xl mr-2">{{ .Name }}</a>{{ end }}<a
            href="{{ .Site.Params.mainCtaUrl }}"
            class="link-button block md:inline bg-gray-100 rounded-lg ml-1 px-4 py-2 font-bold my-4 hover:bg-white hover:underline">{{ .Site.Params.mainCtaTitle }}</a>
    </nav>
</header>