<header class="text-center md:text-left md:flex md:justify-between md:items-center">
    <a href="{{ .Site.Home.Permalink }}" class="flex justify-center items-center md:block pt-2 pb-0 md:px-6 md:pt-6">
        <img class="w-64" src="/images/guildflow-logotype-full-color-rgb.svg" alt="Guildflow Logo">
    </a>
    <nav class="mr-0 md:mr-6">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL | relURL }}" class="underline text-xl text-gf-blue mr-2 active:text-gf-orange">{{ .Name }}</a>
        {{ end }}
    </nav>
</header>