<h3
    class="m-6 md:m-10 text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
    Meet the Developer
</h3>

<div class="md:flex md:px-4">
    <div class="mb-4 md:flex-none flex justify-center lg:pl-6 lg:pr-2">
        <img src="/images/zorn_square.jpeg" alt="Photo of Mike Zornek." class="h-28 w-28 lg:h-36 lg:w-36 rounded-full">
    </div>
    <div class="prose prose-marketing px-4 pb-8 sm:text-xl">
        <p>My name is <strong>Mike Zornek</strong> and I'm a fellow meetup organizer from Philadelphia, PA.</p>
        <p>I have a long history of participating in meetup groups; helping to organize the <a
                href="http://phillycocoa.org">Philly CocoaHeads</a> (an Apple developer group) for many years and am
            currently leading the <a href="https://phillyelixir.guildflow.com/">Philly Elixir Group</a>.</p>
        <p>Meetup groups are a great way to share and give back to your community. Through organizing meetups I have
            met some incredible peers, many who have become dear friends. I've learned a ton of technical knowledge and
            experienced countless career opportunities.</p>
        <p>After a growing discontent with the meetup tools of the day I started to build out something new that let
            group organizers own their data and respected the privacy of group members. I am really excited how it's
            starting to take shape.</p>
        <p>Please take a look for yourself and <a href="/contact">reach out to me</a>. I'd love to
            hear about your own meetup
            experiences.
        </p>
        <p><a href="http://mikezornek.com">Personal Website</a> &bull; <a href="https://micro.blog/zorn">@zorn on
                Micro.Blog</a></p>
    </div>
</div>