[x-cloak] {
  display: none;
}

[x-cloak] {
  visibility: hidden;
  overflow: hidden
}

.gf-prose h1 {
  @apply text-4xl mb-2 font-bold leading-tight;
}
.gf-prose h2 {
  @apply text-3xl mb-2 font-bold leading-tight;
}
.gf-prose h3 {
  @apply text-2xl mb-2 font-bold leading-tight;
}
.gf-prose h4 {
  @apply text-xl mb-2 font-bold leading-tight;
}

.gf-prose p {
  @apply mb-4;
}

.gf-prose blockquote p {
  @apply ml-8 italic
}

.gf-prose h4 + p { 
  @apply mt-0;
}

.gf-prose a:link {
  @apply text-orange-500 underline;
}

.gf-prose a:visited {
  @apply text-gf-orange;
}

.gf-prose a:focus {
  @apply bg-gf-orange text-white;
}

.gf-prose a:hover {
  @apply bg-gf-orange text-white;
}

.gf-prose a:active {
  @apply bg-gf-orange text-red-600;
}

.gf-prose ul,
.gf-prose ol {
  @apply ml-8 mb-4;
}

.gf-prose ul li {
  @apply list-disc;
}

.gf-prose ol li {
  @apply list-decimal;
}

body {
  @apply bg-white text-gf-blue;
}

.marketing-full-width-page-container {
  @apply my-2;
}

@screen sm {
  .marketing-full-width-page-container {
      @apply my-4;
  }
}

@screen md {
  .marketing-full-width-page-container {
      @apply my-4;
  }
}

@screen xl {
  .marketing-full-width-page-container {
      @apply my-6;
  }
}

.marketing-page-container {
  @apply px-4 my-2 mx-auto max-w-screen-xl;
}

@screen sm {
  .marketing-page-container {
      @apply px-6 my-0;
  }
}

@screen md {
  .marketing-page-container {
      @apply px-6 my-0;
  }
}

@screen xl {
  .marketing-page-container {
      @apply px-8 my-0;
  }
}
